:root{
    --bg:#0A0A0A;
    --card:#141414;
    --text:#F5F0E8;
    --border:#2A2A2A;

    --primary:#E8A020;
    --success:#1A7A4A;
    --danger:#C0392B;
}

/* Light Mode */

.light-mode{
    --bg:#F8F9FA;
    --card:#FFFFFF;
    --text:#222222;
    --border:#DDDDDD;
}




/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:var(--bg);
    color:var(--text);
    font-family:Arial, sans-serif;
    transition:0.3s ease;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px;
    border-bottom:1px solid var(--border);

    background:var(--card);
}

.logo-container{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo{
    width:50px;
    height:50px;
    object-fit:contain;
    border-radius: 50%;
    animation: logo-animation 0.5s bounce;
}

@keyframes logo-animation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}



h1{
    color:var(--primary);
}

/* Main */

main{
    padding:20px;
}

/* Cards */

.card{
    background:var(--card);

    border:1px solid var(--border);
    border-radius:18px;

    padding:20px;
    margin-bottom:20px;
}

.card h2{
    margin-bottom:12px;
}

/* Child Info */

.info-row{
    display:flex;
    justify-content:space-between;

    margin-bottom:12px;
}

.safe{
    color:var(--success);
}

/* Buttons */

.primary-btn{
    width:100%;

    padding:14px;
    margin-top:15px;

    border:none;
    border-radius:12px;

    background:var(--primary);
    color:black;

    font-weight:bold;
    cursor:pointer;
}

.actions{
    display:flex;
    gap:10px;
}

.actions button{
    flex:1;

    padding:14px;

    border:none;
    border-radius:12px;

    background:var(--primary);
    color:black;

    font-weight:bold;
    cursor:pointer;
}

/* Toggle */

.toggle-row{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin:15px 0;
}

.switch{
    position:relative;
    width:60px;
    height:30px;
    display:inline-block;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    inset:0;

    background:var(--danger);
    border-radius:30px;

    transition:0.3s;
}

.slider::before{
    content:"";

    position:absolute;

    width:24px;
    height:24px;

    left:3px;
    top:3px;

    background:white;
    border-radius:50%;

    transition:0.3s;
}

.switch input:checked + .slider{
    background:var(--success);
}

.switch input:checked + .slider::before{
    transform:translateX(30px);
}

/* Theme Toggle */

.theme-switch{
    display:flex;
    align-items:center;
    gap:10px;
}